* {
    box-sizing: border-box;
}

:root {
    --page-color: linear-gradient(-135deg, rgb(230, 230, 230) 20%, rgb(130, 210, 210));

    --calculator-bg-color: rgb(220, 220, 220);
    --calculator-shadow-color: rgb(150, 150, 150);

    --font-base-color: rgb(10, 10, 10);
    --font-faded-color: rgb(50, 50, 50);

    --button-spacing: 0.2rem;
    --button-color-num: rgb(250, 250, 250);
    --button-color-op: rgb(235, 235, 235);
    --button-color-hover: rgb(210, 210, 210);
    --button-color-active: rgb(200, 200, 200);
    --button-color-bright: rgb(210, 140, 80);
    --button-color-bright-hover: rgb(190, 120, 60);
    --button-color-bright-active: rgb(170, 100, 40);

    --history-scrollbar-color: rgb(170, 170, 170);

    --theme-label-color-bold: var(--font-faded-color);
    --theme-label-color: rgb(150, 150, 150);
    --theme-bg-color: rgb(150, 150, 150);
    --theme-circle-bg-color: rgb(230, 230, 230);

    font-size: 85%;
}

.dark-mode {
    --page-color: linear-gradient(-135deg, rgb(80, 80, 80) 20%, rgb(150, 80, 20));

    --calculator-bg-color: rgb(40, 40, 40);
    --calculator-shadow-color: rgb(30, 30, 30);

    --font-base-color: rgb(250, 250, 250);
    --font-faded-color: rgb(215, 215, 215);

    --button-spacing: 0.2rem;
    --button-color-num: rgb(10, 10, 10);
    --button-color-op: rgb(25, 25, 25);
    --button-color-hover: rgb(50, 50, 50);
    --button-color-active: rgb(60, 60, 60);
    --button-color-bright: rgb(40, 130, 170);
    --button-color-bright-hover: rgb(60, 150, 190);
    --button-color-bright-active: rgb(80, 170, 210);

    --history-scrollbar-color: rgb(90, 90, 90);

    --theme-label-color-bold: var(--font-faded-color);
    --theme-label-color: rgb(145, 145, 145);
    --theme-bg-color: rgb(210, 140, 80);
    --theme-circle-bg-color: rgb(80, 80, 80);
}

header {
    position: absolute;
    right: 0.5rem;
    right: min(0.5rem, 0.75vw);
    top: 0.5rem;
    top: min(0.5rem, 1.2vh);
    display: flex;
    align-items: center;
}

header > p {
    font-size: 0.95rem;
    margin: 0.3rem 0.4rem;
    color: var(--theme-label-color);
}

.bold-label {
    color: var(--theme-label-color-bold);
    font-weight: bold;
}

.theme-switch { /* container of switch */
    position: relative;
    display: inline-block;
    --switch-width: 3rem;
    --switch-height: 1.6rem;
    --switch-gap-top: 0.25rem;
    --switch-gap-side: 0.3rem;
    --switch-circle-diameter: calc(var(--switch-height) - 2 * var(--switch-gap-top));
    --switch-transition-time: .3s;
    width: var(--switch-width);
    height: var(--switch-height);
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider { /* background of the switch */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--theme-bg-color);
    transition: var(--switch-transition-time);
    border-radius: calc(var(--switch-height)/2);
}

.switch-slider:hover {
    background-color: rgb(210, 140, 80);
}

.switch-slider:before { /* switch circle */
    position: absolute;
    content: "";
    height: var(--switch-circle-diameter);
    width: var(--switch-circle-diameter);
    left: var(--switch-gap-side);
    bottom: var(--switch-gap-top);
    background-color: var(--theme-circle-bg-color);
    transition: var(--switch-transition-time);
    border-radius: 50%;
}

.theme-switch input:checked + .switch-slider {
    background-color: var(--theme-bg-color);
}

.theme-switch input:checked + .switch-slider:before {
    transform: translateX(calc(var(--switch-width) - 2 * var(--switch-gap-side) - var(--switch-circle-diameter)));
}

.theme-switch input:checked + .switch-slider:hover:before {
    background-color: var(--font-faded-color);
}

body {
    font-family: "Segoe UI", sans-serif;
    color: var(--font-base-color);
    background: var(--page-color);
}

#calculator {
    display: grid;
    grid-template-rows: 0.4fr 0.5fr 1.3fr repeat(6, 1.1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:    ".          .               .           history-btn"
                            "record     record          record      record"
                            "display    display         display     display"
                            "percent    clear-entry     clear-all   backspace"
                            "inverse    squared         sqrt        divide"
                            "seven      eight           nine        times"
                            "four       five            six         minus"
                            "one        two             three       plus"
                            "negative   zero            decimal     equals";
    height: 80vh;
    width: 80vw;
    position: relative;
    gap: var(--button-spacing);
    padding: var(--button-spacing);
    border: none;
    margin: 10vh auto;
    min-width: 240px;
    min-height: 300px;
    background-color: var(--calculator-bg-color);
    border: none;
    opacity: 0.8;
    box-shadow: 0.05rem 0.2rem 0.7rem 0 var(--calculator-shadow-color);
	backdrop-filter: blur(1rem);
}

#calculator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 200%;
    background-image: linear-gradient(180deg, transparent 50%, var(--calculator-bg-color) 50%);
    transition: background-position 0.3s;
    z-index: -1;
}

#calculator.history::before {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 50%, var(--calculator-bg-color) 50%);
    background-position: 0 75%;
    z-index: 1;
}

#history-btn {
    grid-area: history-btn;
    font-size: 1rem;
    color: var(--font-base-color);
}

#record {
    grid-area: record;
    border: none;
    padding: 0 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#display {
    grid-area: display;
    min-height: 2rem;
    border: none;
    padding: 0 0.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 2rem;
}

button {
    background-color: var(--button-color-op);
    color: var(--font-faded-color);
    border: none;
    font-size: 1.2rem;
}

#backspace,
#divide,
#times,
#minus,
#plus,
#equals,
#decimal {
    font-size: 1.5rem;
}

button sup, 
button sub {
    font-size: 0.9rem;
}

button.number,
#negative, 
#decimal {
    background-color: var(--button-color-num);
    color: var(--font-base-color);
    font-weight: bold;
}

button:hover,
#negative:hover,
#decimal:hover {
    background-color: var(--button-color-hover);
}

button:active,
#negative:active,
#decimal:active {
    background-color: var(--button-color-active);
}

button:focus {
    outline-color: var(--font-base-color);
}

button:not(:focus-visible) {
    outline: none;
}

#equals {
    grid-area: equals;
    background-color: var(--button-color-bright);
}

#equals:hover {
    background-color: var(--button-color-bright-hover);
}

#equals:active{
    background-color: var(--button-color-bright-active);
}

#history {
    grid-area: 4 / 1 / -1 / 5;
    z-index: -1;
    display: flex;
    flex-direction: column;
    padding: var(--button-spacing) 0;
    margin: 0 -var(--button-spacing) -var(--button-spacing);
    background-color: transparent;
    opacity: 0;
}

#history-list {
    overflow-y: scroll; 
    scrollbar-width: thin;
    scrollbar-color: var(--history-scrollbar-color) transparent;
}

#history-list::-webkit-scrollbar {
    width: 0.75rem;
}

#history-list::-webkit-scrollbar-thumb {
    background-color: var(--history-scrollbar-color);
    border-radius: 0.375rem;
    border: 0.18rem solid var(--calculator-bg-color);
}

#calculator.history #history {
    opacity: 1;
    z-index: 1;
    animation: pause-fade-in 0.6s;
}

@keyframes pause-fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#close-history-btn{
    background-color: transparent;
    width: 2rem;
    align-self: flex-end;
    font-size: 1.5rem;
    margin-right: var(--button-spacing);
    padding: 0;
}

#close-history-btn:hover {
    color: var(--button-color-bright-hover);
}

#close-history-btn:active {
    color: var(--button-color-bright-active);
}

.history-record {
    min-height: 7vh;
    margin: var(--button-spacing) 0;
    padding: 0 0.4rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.history-record:hover {
    background-color: var(--button-color-hover);
}

.history-record:active {
    background-color: var(--button-color-active);
}

.history-record span {
    overflow-wrap: anywhere;
    text-align: right;
}

.equation {
    color: var(--font-faded-color);
    font-size: 1rem;
}

.result {
    font-size: 1.4rem;
}

/* defining all other grid-areas */
#percent {
    grid-area: percent;
}

#clear-entry {
    grid-area: clear-entry;
}

#clear-all {
    grid-area: clear-all;
}

#backspace {
    grid-area: backspace;
}

#inverse {
    grid-area: inverse;
}

#squared {
    grid-area: squared;
}

#sqrt {
    grid-area: sqrt;
}

#divide {
    grid-area: divide;
}

#times {
    grid-area: times;
}

#minus {
    grid-area: minus;
}

#plus {
    grid-area: plus;
}

#negative {
    grid-area: negative;
}

#decimal {
    grid-area: decimal;
}

[id="0"] {
    grid-area: zero;
}

[id="1"] {
    grid-area: one;
}

[id="2"] {
    grid-area: two;
}

[id="3"] {
    grid-area: three;
}

[id="4"] {
    grid-area: four;
}

[id="5"] {
    grid-area: five;
}

[id="6"] {
    grid-area: six;
}

[id="7"] {
    grid-area: seven;
}

[id="8"] {
    grid-area: eight;
}

[id="9"] {
    grid-area: nine;
}

@media only screen and (min-width: 481px) and (min-height: 481px) {
    :root {
        font-size: 92.5%;
    }
}

@media only screen and (min-width: 641px) and (min-height: 641px) {
    :root {
        font-size: 100%;
    }
}

@media only screen and (min-width: 961px) and (min-height: 961px) {
    :root {
        font-size: 107.5%;
    }
}

@media only screen and (min-aspect-ratio: 6/5) {
    #calculator {
        grid-template-rows: 0.5fr 1.3fr repeat(6, 1.1fr);
        grid-template-columns: repeat(4, 1fr) 2fr;
        grid-template-areas:    "record     record          record      record      history"
                                "display    display         display     display     history"
                                "percent    clear-entry     clear-all   backspace   history"
                                "inverse    squared         sqrt        divide      history"
                                "seven      eight           nine        times       history"
                                "four       five            six         minus       history"
                                "one        two             three       plus        history"
                                "negative   zero            decimal     equals      history";
        min-width: 300px;
        min-height: 240px;
    }

    #calculator::before {
        display: none;
    }
    
    #calculator.history::before {
        display: none;
    }

    #history-btn {
        display: none;
    }

    #history {
        grid-area: history;
        z-index: auto;
        background-color: var(--calculator-bg-color);
        opacity: 1;
    }

    #close-history-btn{
        display: none;
    }
}